.CurrentWeatherInfoTile {
  width: 300px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  .weather-symbol {
    font-size: 128px;
  }

  .temperature {
    display: flex;
    font-weight: 700;
    font-size: 48px;
  }

  .summary {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;

    .summary-item {
      color: #c0c0c0;
      text-align: center;
      font-size: 10px;
      display: flex;
      flex-direction: column;

      .summary-item-icon {
        color: transparent;
        text-shadow: 0 0 0 #c0c0c0;
        font-size: 32px;
      }
    }
  }
}
