body,
html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.paper {
  height: 100px;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px - 64px);
}

.main-content.center {
  align-items: center;
  justify-content: center;
}

.main-footer {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
